extends layout

append header

block content
    form
        div.form-group
            label(for="exampleInputEmail1") Email address
            input.form-control#exampleInputEmail1(type="email" aria-describedby="emailHelp" placeholder="Enter email")
            small.form-text.text-muted#emailHelp
            | We'll never share your email with anyone else.
        div.form-group
            label(for="exampleInputPassword1")
            | Password
            input.form-control#exampleInputPassword1(type="password" placeholder="Password")
        div.form-check
            label.form-check-label
              input.form-check-input(type="checkbox")
              | Check me out
    button.btn.btn-primary#submit_btn(type="submit")
        | Submit
block demoBody
    script(src='/javascripts/controllers/loginController.js')
